<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335793235767-ca8cnav6bs0gfsnbtnnag9k55ehnksb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335793235767-ca8cnav6bs0gfsnbtnnag9k55ehnksb6</string>
	<key>API_KEY</key>
	<string>AIzaSyD15yaNTK3EGykSU6R_lw-WD_W6nivYdXk</string>
	<key>GCM_SENDER_ID</key>
	<string>335793235767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamteam.BotsApp</string>
	<key>PROJECT_ID</key>
	<string>botsapp-dreamteam</string>
	<key>STORAGE_BUCKET</key>
	<string>botsapp-dreamteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335793235767:ios:1547ba999d8df889</string>
	<key>DATABASE_URL</key>
	<string>https://botsapp-dreamteam.firebaseio.com</string>
</dict>
</plist>